## .NET / Visual Studio
.vs/
bin/
obj/
Debug/
Release/
TestResults/

## IDE settings
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build & publish artifacts
artifacts/
publish/

## Logs & temp
logs/
*.log
*.tmp
*.temp

## OS junk
.DS_Store
Thumbs.db

## Database design files
*.dbmdl
*.bak

## Coverage
coverage/

## Environment files (if any)
.env

\tempbin\